@page
@model Lokasa.Pages.Tache.DetailsModel
@{
    ViewData["title"] = "Détails de la tâche";
}
@if (Model.WarningMessage != string.Empty)
{
    <p>
    <div class="notification is-warning is-light">
        <button class="delete"></button>
        <h2><strong>Attention !</strong></h2>
        <p>@Model.WarningMessage</p>
    </div>
    </p>
}
@if (Model.SuccessMessage != string.Empty)
{
    <p>
    <div class="notification is-success is-light">
        <button class="delete"></button>
        <h2><strong>Super !</strong></h2>
        <p>@Model.SuccessMessage</p>
    </div>
    </p>
}
@if (Model.ErrorMessage != string.Empty)
{
    <p>
    <div class="notification is-danger is-light">
        <button class="delete"></button>
        <h2><strong>Erreur !</strong></h2>
        <p>@Model.ErrorMessage</p>
    </div>
    </p>
}
<h3 class="title">Modification d'une tâche</h3>
<h5 class="subtitle">Vous êtes entrain de modifier la tâche @Model.tache.Titre</h5>
<form method="post">
    <input type="hidden" name="id" value="@Model.tache.Id" />
    <input type="hidden" name="idAgent" value="@Model.tache.IdAgent" />
    <div class="columns">
        <div class="column">
            <div class="field">
                <label for="titre" class="label">Titre</label>
                <div class="control has-icons-left">
                    <input type="text" name="titre" id="titre" class="input is-3"
                        placeholder="Saisissez le titre de votre tâche" autofocus value="@Model.tache.Titre" />
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-business-time"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label for="description" class="label">Description</label>
                <div class="control">
                    <textarea name="description" id="description" rows="1" value="@Model.tache.Description"
                        placeholder="La description ici..." class="textarea"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-4">
            <div class="field">
                <label for="date_d" class="label">Date debut</label>
                <div class="control has-icons-left">
                    <input type="date" name="dateDebut" id="date_d" class="input" value="@Model.tache.DateDebut" />
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-calendar-day"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="field">
                <label for="date_f" class="label">Date fin</label>
                <div class="control has-icons-left">
                    <input type="date" name="dateFin" id="date_f" class="input" value="@Model.tache.DateFin" />
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-calendar-day"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <label for="etat" class="label">Etat</label>
            <div class="control">
                <div class="select">
                    <select name="etat" id="etat">
                        <option value="En cours">En cours</option>
                        <option value="Validée">Validée</option>
                        <option value="Echec">Echec</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label for="comment" class="label">Commentaire</label>
        <div class="control">
            <textarea name="commentaire" id="comment" class="textarea" placeholder="Votre commentaire ici..."></textarea>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <input type="submit" value="Modifier" class="button is-success">
        </div>
        <div class="control">
            <input type="reset" value="Réinitialiser" class="is-danger is-outlined">
        </div>
    </div>
</form>