@page
@model Lokasa.Pages.Tache.TachesModel
@{
    ViewData["title"] = "Les taches";
}
@if(Model.FonctionAgent == "Directeur")
{
    <h3 class="title">Consultez les tâches des agents</h3>
}
@if(Model.FonctionAgent != "Directeur")
{
    <h3 class="title">Consultez vos tâchess</h3>
}
<div class="mb-4">
    <form method="get">
        <h5 class="subtitle">Filtre</h5>
        <div class="columns">
            <div class="column is-3">
                <div class="field has-addons">
                    <div class="control">
                        <input type="date" name="date_debut" class="input" id="date" />
                    </div>
                    <div class="control">
                        <input type="submit" value="Filtrez" class="button is-link" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>#</th>
            <th>ID Agent</th>
            <th>Titre</th>
            <th>Date debut</th>
            <th>Date fin</th>
            <th>Etat</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.taches)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.IdAgent</td>
            <td>@item.Titre</td>
            <td>@item.DateDebut</td>
            <td>@item.DateFin</td>
            @if(item.Etat == 1){
                <td class="has-text-link has-text-weight-semibold">@item.Etat</td>
            }
            
            @if(item.Etat == 2){
                <td class="has-text-info has-text-weight-semibold">@item.Etat</td>
            }
            @if(item.Etat == 3){
                <td class="has-text-success has-text-weight-semibold">@item.Etat</td>
            }
            @if(item.Etat == 4){
                <td class="has-text-danger has-text-weight-semibold">@item.Etat</td>
            }
            <td>
                <a href="/Tache/Details?ID=@item.Id&Agent=@item.IdAgent" class="button is-small is-link">Details</a>
            </td>
        </tr>
    }
    </tbody>
    </table>